
{% extends "base.html" %} {% block title %}dashboard{% endblock %} {% block content %}
<h1 align="center">Welcome, {{ user.username }}</h1>
<h3 align="center">Your Balance: {{ symbol }}{{ balance }}</h3>

<h2 align="center">Actions</h2>

<div class="form-group">
    <form action="{{ url_for('views.add_money') }}" method="post">
        <label for="amount">Amount to add:</label>
        <input type="number" step="0.01" id="amount" name="amount" required><br><br>
        <button type="submit">Add Money</button>
    </form>
</div>
  
<div class="form-group">
    <form action="{{ url_for('views.withdraw_money') }}" method="post">
        <label for="amount">Amount to withdraw:</label>
        <input type="number" step="0.01" id="amount" name="amount" required><br><br>
        <button type="submit">Withdraw Money</button>
    </form>
</div>

<div class="form-group">
    <form action="{{ url_for('views.transfer_money') }}" method="post">
        <label for="amount">Amount to transfer:</label>
        <input type="number" step="0.01" id="amount" name="amount" required><br><br>
        <label for="recipient_username">Receiver Username:</label>
        <input type="text" id="recipient_username" name="recipient_username" required><br><br>
        <button type="submit">Transfer Money</button>
    </form>
</div>
{% endblock %}
